src/main/resources/xsd/event.xsd

<?xml version='1.0' encoding='UTF-8'?><xsd:schema targetNamespace="http://idecs.atc.ru/orderprocessing/ws/event/" xmlns:e="http://idecs.atc.ru/orderprocessing/ws/event/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:complexType name="OrderStatusEvent">
        <xsd:annotation>
            <xsd:documentation>
                изменения статуса заявки в ЛК
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="statusCode">
                <xsd:annotation>
                    <xsd:documentation>
                        Новый статус завки
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="orgCode" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Код статуса в ведомстве
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="techCode" type="xsd:long">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Код статуса на ЕПГУ
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>

            <xsd:element minOccurs="0" name="cancelAllowed" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
                        Возможность отмены
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element minOccurs="0" name="sendMessageAllowed" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
                        Возможность посылки текстовых сообщений в ведомство
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="PaymentStatusEvent">
        <xsd:annotation>
            <xsd:documentation>
                изменения статуса оплаты заявки в ЛК
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="status" type="e:PaymentStatus">
                <xsd:annotation>
                    <xsd:documentation>
                        Cтатус оплаты заявки
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element maxOccurs="unbounded" minOccurs="0" name="payment" type="e:Payment">
                <xsd:annotation>
                    <xsd:documentation>
                        Cтатус оплаты заявки
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Payment">
        <xsd:annotation>
            <xsd:documentation>
                информация о платеже
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="source" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Источник начисления
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="uin" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        УИН (уникальный идентификатор начисления)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Наименование (за что оплата)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>


            <xsd:element minOccurs="0" name="paymentId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>
                        ID платежа
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="isPaid" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
                        не оплачено/оплачено
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element minOccurs="0" name="date" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>
                        Дата платежа
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InfoEvent">
        <xsd:annotation>
            <xsd:documentation>
                информационное сообщение по заявки в ЛК
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Код сообщения
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TextMessageEvent">
        <xsd:annotation>
            <xsd:documentation>
                текстовое сообщение по заявки в ЛК
            </xsd:documentation>
        </xsd:annotation>
    </xsd:complexType>

    <xsd:complexType name="InvitationEvent">
        <xsd:annotation>
            <xsd:documentation>
                Приглашение
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Код приглашения
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="action" type="e:InvitationEventAction">
                <xsd:annotation>
                    <xsd:documentation>
                        Тип действия
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element minOccurs="0" name="orgName" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Наименование ОИВ
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element minOccurs="0" name="address" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Адрес
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element minOccurs="0" name="startDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>
                        Дата и время начала
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element minOccurs="0" name="endDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>
                        Дата и время окончания
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="EventObject">
        <xsd:sequence>
            <xsd:element name="orderId" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>
                        Id заявки на портале
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

             <xsd:element minOccurs="0" name="eventDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation>
                        Дата события
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element minOccurs="0" name="eventComment" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Комментарий к событию
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element minOccurs="0" name="eventAuthor" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Автор событию
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="event">
                <xsd:annotation>
                    <xsd:documentation>
                        параметры события
                    </xsd:documentation>
                </xsd:annotation>

                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="orderStatusEvent" type="e:OrderStatusEvent">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Код статуса в ведомстве
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="paymentStatusEvent" type="e:PaymentStatusEvent">
                            <xsd:annotation>
                                <xsd:documentation>
                                    изменения статуса оплаты заявки в ЛК
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="infoEvent" type="e:InfoEvent">
                            <xsd:annotation>
                                <xsd:documentation>
                                    информационное сообщение по заявки в ЛК
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="textMessageEvent" type="e:TextMessageEvent">
                            <xsd:annotation>
                                <xsd:documentation>
                                    текстовое сообщение по заявки в ЛК
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>

                        <xsd:element name="invitationEvent" type="e:InvitationEvent">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Приглашение
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>


                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:simpleType name="PaymentStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="W"/>
            <xsd:enumeration value="P"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="InvitationEventAction">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ADD"/>
            <xsd:enumeration value="UPDATE"/>
            <xsd:enumeration value="CANCEL"/>
        </xsd:restriction>
    </xsd:simpleType>




</xsd:schema>